.add-machine-form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add-machine-form h3 {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.add-machine-form div {
    width: 100%;
    margin-bottom: 10px;
}

.add-machine-form label {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-machine-form input,
.add-machine-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.get-location-button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: #333;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.get-location-button:hover {
    background-color: #e9ecef;
    border-color: #ccc;
}

.add-machine-button {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #408751;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.action-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.action-button:hover {
    color: #000;
}

.delete-button {
    color: red;
}

.edit-button {
    color: blue;
}

