.add-machine-form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
}

.add-machine-form h3 {
    margin-bottom: 15px;
    text-align: center;
}

.add-machine-form div {
    margin-bottom: 10px;
}

.add-machine-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-machine-form input,
.add-machine-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-machine-form button {
    align-items: center;
    display: inline-block; 
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 14px;
    color: #476c47;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f8f9fa;
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative; 
    text-align: center; 
}

.add-machine-form button:hover {
    background-color: #e9ecef;
    border-color: #ccc;
}
.add-machine-form button:after {
    content: "+";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
  }

  .get-location-button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.get-location-button:hover {
    background-color: #e9ecef;
    border-color: #ccc;
}

.add-machine-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-machine-button:hover {
    background-color: #45a049;
}
