.image-preview {
    margin-top: 10px;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-form input[type="file"] {
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
}