.image-preview {
    margin-top: 10px;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-form input[type="file"] {
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
}

.add-form-product {
    padding: 0 20px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 650px;
}

.add-form-product h3 {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.add-form-product div {
    width: 100%;
    margin-bottom: 10px;
}

.add-form-product label {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-form-product input,
.add-form-product select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-button-product {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #20B573;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
