.customers-page {
    display: flex;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    width: 100%;
}
.navbar {
    flex-shrink: 0;
}

.charts {
    flex-direction: row;
    flex-grow: 1;
    gap: 60px;
    padding: 20px;
    overflow-y: auto;
    overflow: visible;
    display: flex;
    justify-content: start;
    align-items: flex-start; 
}
.separator-line {
    border: 1px solid rgb(181, 181, 181); 
    width: 400px;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%; 
}

.action-button:hover {
    color: #000;
}

.delete-button {
    color: red;
}