.customer-pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    margin: 0 auto;
    padding-top: 0;
}

.customer-pie-chart-legend {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    
}

.customer-legend-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #494949;
    height: 25px;
}

.customer-legend-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

