.customer-pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-pie-chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 4px;
}
