.dashboard-page {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.dashboard-content {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    margin: 20px;
}
.top-section-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 50px;
}
.welcome-section{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.welcome-section h1 {
    margin: 0 0 10px;
    font-size: 46px;
    color: #333;
}

.welcome-section p {
    margin: 0;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.charts-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sectioning{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-around;
}
.receipt-goods-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stacked-charts{
    display: flex;
    flex-direction: column;
}
.top-products-section-dash{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 450px;
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
}

