.dashboard-page {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 50px;
    background-color: #f8f9fa;
    margin: 20px;
}
.welcome-section{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.welcome-section h1 {
    margin: 0 0 10px;
    font-size: 46px;
    color: #333;
}

.welcome-section p {
    margin: 0;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

