.inventory-page {
    display: flex;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
}

.navbar {
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    text-align: start;
    font-size: 36px;
    margin: 10px;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
}
.machine-navigation{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.main-content .machine-navigation button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.main-content .machine-navigation button:hover {
    background-color: transparent;
}

.main-content .machine-navigation h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.main-content table thead {
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

.main-content table thead th {
    padding: 12px 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.main-content table tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.main-content table tbody tr:hover {
    background-color: #f1f1f1;
}

.main-content table tbody td {
    padding: 12px 16px;
    font-size: 14px;
    text-align: center;
}
