.machine-selector-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    position: relative; 
    z-index: 1;
}

.selected-machine-box {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #ffffff;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.selected-machine-box h3 {
    margin: 0 0 5px;
    font-size: 20px;
    color: #333;
}

.selected-machine-box p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.selected-top-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropdown-toggle {
    width: 90px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #cccccc;
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 2;
    margin-top: 5px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
    font-size: 14px;
    color: #333;
    border: 1px solid transparent;

}

.dropdown-item:hover {
    background: #f0f0f0;
    border-color: #9de98a;
}

.dropdown-item.selected {
    background: #7ec36d;
    color: #fff;
}
