.navbar {
  width: 200px;
  height: 100vh;
  background-color: #1c1e21; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.navbar-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar-links {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-links a {
  width: 100%;
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: #c7c7c7;
  padding: 5px;
  gap: 20px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.navbar-links a:hover {
  width: 100%;
  background-color: #333;
  color: #fff;
}

.active-link {
  color: #fff;
}

.navbar-footer {
  margin-top: auto;
}

.navbar-footer a {
  color: #c7c7c7;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.navbar-footer a:hover {
  background-color: #333;
  color: #fff;
}
