.products-page{
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9
}
.products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    align-items: center;
}
