.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    overflow: hidden;
    text-align: start;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    
}
.product-details p{
    margin: 2px;
}
.product-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-title p {
    margin: 0;
}
.product-title h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.product-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
}

.edit-button, .delete-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    transition: color 0.2s ease-in-out;
}

.edit-button:hover {
    color: #28a745;
}

.delete-button:hover {
    color: #dc3545;
}
