.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    overflow: hidden;
    text-align: start;
    transition: transform 0.2s ease-in-out;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.menu-container {
    position: absolute;
    top: 8px;
    right: 8px;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #666;
}

.menu-button:hover {
    color: #333;
}

.dropdown-menu {
    position: absolute;
    top: 36px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 120px;
}

.menu-item {
    background: none;
    border: none;
    text-align: left;
    padding: 8px 8px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-item:hover {
    background-color: #f5f5f5;
}

.menu-item i {
    font-size: 18px;
}
.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 5px 15px;
    font-size: 14px;
    color: #555;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    
}
.product-details p{
    margin: 2px;
}
.product-title{
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-title p {
    margin: 0;
}
.product-title h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
}

.product-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
}

.edit-button, .delete-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    transition: color 0.2s ease-in-out;
}

.edit-button:hover {
    color: #28a745;
}

.delete-button:hover {
    color: #dc3545;
}
.category{
    color: #242323;
    font-weight: 500;
}