.products-page{
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9
}
.products-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.product-container {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    align-items: center;
}
