.products-page{
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9
}
.products-container .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}
